In [1]:
#Sarvesh Ashish, task -1
import pandas as pd
import numpy as np

# Set the seed for reproducibility
np.random.seed(42)

# Create random values using numpy
data = np.random.rand(4, 4)

# Create a DataFrame
df = pd.DataFrame(data, columns=['Feature1', 'Feature2', 'Feature3', 'Feature4'])
print(df)

   Feature1  Feature2  Feature3  Feature4
0  0.374540  0.950714  0.731994  0.598658
1  0.156019  0.155995  0.058084  0.866176
2  0.601115  0.708073  0.020584  0.969910
3  0.832443  0.212339  0.181825  0.183405

In [2]:
#Sarvesh Ashish, task -2
import pandas as pd
import numpy as np

# Set the seed for reproducibility
np.random.seed(42)

# Create random values using numpy
data = np.random.rand(4, 4)

# Create a DataFrame with renamed columns
df = pd.DataFrame(data, columns=['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4'])

print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.374540        0.950714        0.731994        0.598658
1        0.156019        0.155995        0.058084        0.866176
2        0.601115        0.708073        0.020584        0.969910
3        0.832443        0.212339        0.181825        0.183405

In [3]:
#Sarvesh Ashish, task - 3
stats = df.describe()
print(stats)

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.491029        0.506780        0.248122        0.654537
std          0.291252        0.386153        0.329856        0.350875
min          0.156019        0.155995        0.020584        0.183405
25%          0.319910        0.198253        0.048709        0.494845
50%          0.487828        0.460206        0.119954        0.732417
75%          0.658947        0.768733        0.319367        0.892110
max          0.832443        0.950714        0.731994        0.969910

In [4]:
#Sarvesh Ashish, task -4 
# Check for null values
null_values = df.isnull().sum()

# Get data types of columns
column_data_types = df.dtypes

print("Null Values:")
print(null_values)
print("\nData Types:")
print(column_data_types)

Null Values:
Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

Data Types:
Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

In [5]:
#Sarvesh Ashish, tasks - 5
# Access columns using .loc[]
random_value_2_loc = df.loc[:, 'Random value 2']
random_value_3_loc = df.loc[:, 'Random value 3']

# Access columns using .iloc[]
random_value_2_iloc = df.iloc[:, 1]  # Index 1 corresponds to 'Random value 2'
random_value_3_iloc = df.iloc[:, 2]  # Index 2 corresponds to 'Random value 3'

print("Using .loc[]:")
print(random_value_2_loc)
print(random_value_3_loc)

print("\nUsing .iloc[]:")
print(random_value_2_iloc)
print(random_value_3_iloc)

Using .loc[]:
0    0.950714
1    0.155995
2    0.708073
3    0.212339
Name: Random value 2, dtype: float64
0    0.731994
1    0.058084
2    0.020584
3    0.181825
Name: Random value 3, dtype: float64

Using .iloc[]:
0    0.950714
1    0.155995
2    0.708073
3    0.212339
Name: Random value 2, dtype: float64
0    0.731994
1    0.058084
2    0.020584
3    0.181825
Name: Random value 3, dtype: float64